*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4680f3, #c857e4);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 800px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    color:#0615b5
}
.img{
    width: 100px;
    height: 80px;
}

.row {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: #cccee6;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 20px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #fc5947;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    font-style: italic;
    font-size: 20px;
}

button:hover {
    background: #19e873;
    color: #000000;
}

ul li {
    list-style: none;
    font-size: 18px;
    font-family :Georgia, 'Times New Roman', Times, serif;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #0615b5;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #fc5947;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #f91c1c;
    color: #fff;
    border-radius: 10px;
}
